* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profile-container {
  display: grid;
  width: auto;
  /* position: relative; */
  grid-template-columns: 34% 33% 33%;
  align-items: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.profile-img {
  margin: 50px 50px;
  height: 400px;
  width: 400px;
}

.change-photo-btn,
.edit-btn,
.submit-btn {
  position: relative;
  margin: auto;
  padding: 1px;
  height: 30px;
  width: 150px;
  background-color: #1245a8;
  color: #000;
  font-size: 16px;
  border: none;
  box-shadow: 5px 5px 75px 5px;
}

.change-photo-btn:hover,
.edit-btn:hover,
.submit-btn:hover {
  background-color: #0467fb;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'] {
  border-radius: 4px;
  border: 5px solid #fff;
  background-color: #fff;
}

.name-occupation-container {
  position: relative;
  margin: 100px auto;
  padding: 20px;
  width: 200px;
  font-size: 16px;
  color: #000;
  background-color: #1245a8;
  box-shadow: 5px 5px 75px 5px;
}

.about-container {
  position: relative;
  margin: 100px auto;
  padding: 50px;
  font-size: 16px;
  /* border: 1px solid #fff; */
  color: #000;
  background-color: #1245a8;
  box-shadow: 5px 5px 75px 5px;
}

.account-container {
  position: relative;
  margin: 100px auto;
  padding: 50px;
  font-size: 16px;
  /* border: 1px solid #fff; */
  /* color: #fff; */
  background-color: #1245a8;
  box-shadow: 5px 5px 75px 5px;
}

.about-container h1,
.account-container h2 {
  color: #fff;
}

.name-occupation-container p,
.about-sections p,
.account-sections p {
  color: red;
}

.about-sections,
.account-sections {
  margin: 10px;
  padding: 10px;
}

.about-section,
.account-section {
  padding: 5px;
  margin: 5px;
}

.form-label {
  color: #fff;
  /* padding: 10px; */
}
