* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.edit-profile {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  align-items: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.change-photo-btn {
  font-size: 10px;
  color: #fff;
  background-color: #1245a8;
  border-radius: 4px;
  width: 50px;
}

.edit-btn {
  /* height: 20px; */
  font-size: 10px;
  border-radius: 4px;
  width: 50px;
}

.edit-btn:hover {
  background-color: #0467fb;
}

.name-occupation-form p {
  color: red;
}

.about-sections {
  background-color: #1245a8;
}

.about-sections p {
  color: red;
}

.account-sections {
  background-color: #1245a8;
}

.account-sections p {
  color: red;
}

/** "edit profile" button **/
.edit-btn {
  color: #fff;
  background-color: #1245a8;
  /* padding: 5px;
  margin: 5px; */
}

/** label names **/
.form-label {
  color: #fff;
}

/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.edit-profile {
  display: grid;
  grid-template-columns: 50px;
  align-items: center;
  background-color: rgb(16, 65, 88);
  text-decoration: none;
}

.about-container {
  height: 100vh;
  width: 200vh;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  border: 10px solid black;
  background-color: #fff;
  display: grid;
}

.about-container h1 {
  text-align: left;
}

.about-sections {
  display: grid;
  text-align: center;
  color: #fff;
  padding: 5px;
  margin: 5px;
}

.account-container {
  height: 300px;
  width: 300px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  border: 10px solid white;
  background-color: orange;
  display: grid;
}

.account-container h1 {
  text-align: left;
}

.account-sections {
  display: grid;
  text-align: center;
  color: #fff;
}

.about-sections p {
  color: red;
}

.account-sections p {
  color: red;
}



.edit-btn:hover {
  background-color: #fff;
  color: black;
}

input[type='tel'] {
  padding: 2px;
  margin: 2px;
  border-radius: 10px;
}

input[type='email'] {
  padding: 2px;
  margin: 2px;
}

input[type='text'] {
  padding: 2px;
  margin: 2px;
}

input[type='password'] {
  padding: 2px;
  margin: 20px;
  background-color: pink;
} */
